*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    background-color:#a7aeb9;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 23rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#image{
    width: 100%;
    height: auto;
}

#image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#fondo{
    position: absolute;
    top: 188px;
    width: 100%;
}

#fondo img{
    width: 100%;
}

#contenido{
width: 90%;
height: auto;
}

h1{
    font-size: 23px;
    font-weight: bold;
}

h2{
    font-size: 16px;
    font-weight: bold;
}

p{
    font-size: 16px;
    text-align: justify;
    margin: 10px 0 20px 0;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

#autor{
    width: 90%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

h3{
    color: rgb(88, 88, 88);
    font-size: 16px;
    font-weight: 500;
}

#autor img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: solid 4px rgb(185, 185, 185);
}

#sub-autor{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    width: 100%;
    height: auto;
}

hr{
    width: 100%;
    margin-bottom: 20px;
    border: solid 0.5px rgb(218, 218, 218);
}

@media (max-width:460px) {
    #contenedor{
        width: 19rem !important;
        height: auto;
    }

    #fondo{
        top: 155px;
    }

    h1{
        font-size: 18px;
    }

    h2,h3,p{
        font-size: 14px;
    }
    
}



