* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

header{
    font-weight: lighter;
    font-size: 35px;
    width: 100%;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
    height: 400vh; /* Hace la página más larga que el viewport */
    position: relative;
}

.section {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
#section1{
    
}
#section1-1{
    height: 19%;
    
}
#section1-2{
    height: 21%;
    
}
#section1-3{
    height: 20%;
    
}
#section1-4{
    height: 21%;
    
}
#section1-5{
    height: 22%;
    
}
#section1-6{
    height: 22%;
    
}
#section1-7{
    height: 19%;

}
#section1-8{
    height: 20%;
}
#marco{
    top: 60px;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 10px;
}
#section1-9{
    height: 19%;
}
#section1-10{
    height: 20%;
}

.section img {
    width: 60%;
    max-width: 400px;
    display: block;
    border: 10px solid white;
    border-radius: 10px;
}

.section p {
    margin-top: 20px;
    text-align: center;
}

#foto1{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 190px;
    top: 90px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#pies{
    width: 90px;
    border: none;
    position: absolute;
    left: 950px;
    top: 175px;
    transform: rotate(-50deg);
}
#pies1{
    opacity: 0.8;
    transform: rotate(-45deg);
    width: 60px;
    border: none;
    position: absolute;
    left: 1080px;
    top: 295px;
}
#pies2{
    opacity: 0.5;
    transform: rotate(-30deg);
    width: 20px;
    border: none;
    position: absolute;
    left: 1155px;
    top: 420px;
}
#besos{
    transform: scaleX(-1);
    width: 300px;
    border: none;
    position: absolute;
    left: 920px;
    top: -10px;
}

#ida{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 900px;
    top: -100px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#inadeh{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 900px;
    top: -100px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#beso{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 200px;
    top: -50px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#uno{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 520px;
    top: 90px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: 120px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#uno12{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: -100px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop12{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -70px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#uno13{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: -60px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop13{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -30px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#uno1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -20px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#juntos{
    border: none;
    left: 100px;
    top: 10px;
    position: absolute;
    width: 300px;
}
#unop1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 550px;
    top: 10px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#bus{
    border: none;
    position: absolute;
    left: 108px;
    top: -10px;
    width: 150px;
}
#linea{
    transform: rotate(-35deg);
    border: none;
    position: absolute;
    left: 200px;
    top: 50px;
    width: 200px;
}
#vuelta{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 200px;
    top: -30px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#uno14{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: -30px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop14{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -5px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}

#smile{
    border: none;
    position: absolute;
    left: 975px;
    top: 30px;
    width: 250px;
}

#pedregal{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 900px;
    top: -90px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}

#uno15{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -0px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop15{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 550px;
    top: 30px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}

#dream{
    position: absolute;
    transform: scaleX(-1);
    border: none;
    left: 100px;
    width: 250px;
    top: 20px;
}

#guia{
    width: 900px;
    position: absolute;
    left: 450px;
    top: 150px;
    border: none;
    z-index: -1;
}
#guia2{
    transform: scaleX(-1);
    width: 1000px;
    position: absolute;
    left: 820px;
    top: 190px;
    border: none;
    z-index: -1;
}
#guia3{
    width: 900px;
    position: absolute;
    left: 420px;
    top: 200px;
    border: none;
    z-index: -1;
}
#guia4{
    width: 1000px;
    position: absolute;
    left: 650px;
    top: 200px;
    border: none;
    z-index: -1;
    transform: scaleX(-1);
}
#guia5{
    width: 1000px;
    position: absolute;
    left: 450px;
    top: 200px;
    border: none;
    z-index: -1;
}

#caos{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 200px;
    top: -20px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#uno16{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 520px;
    top: -30px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop16{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: 5px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#huelga{
    width: 300px;
    border: none;
    position: absolute;
    left: 930px;
    top: 10px;
}
#casa{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 900px;
    top: -90px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#uno17{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -0px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop17{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 550px;
    top: 30px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#house{
    width: 250px;
    position: absolute;
    left: 150px;
    top: 30px;
    border: none;
}

#separador{
    border: none;
    transform: rotate(45deg);
    width: 400px;
    position: absolute;
    left: 500px;
    top: -130px;
}
#araña{
    border: none;
    position: absolute;
    width: 300px;
    left: 920px;
    top: 30px;
}
#picni{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 200px;
    top: -150px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#cuadros{
    position: absolute;
    border: none;
    top: -90px;
    left: 950px;
    width: 300px;
}
#uno18{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 520px;
    top: -160px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop18{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: -130px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#rec1{
    position: absolute;
    width: 190px;
    top: -80px;
    left: 947px;
    z-index: 1;
    border-radius: none;
}
#rec2{
    position: absolute;
    width: 190px;
    top: -30px;
    left: 1070px;
    z-index: 1;
    border-radius: none;
    transform: rotate(35deg);
    z-index: -4;
}
#marcos{
    border-radius: 10px;
    position: absolute;
    width: 190px;
    height: 190px;
    background-color: white;
    z-index: -4;
    top: -80px;
    left: 946px; 
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.322);
}
#marcos1{
    border-radius: 10px;
    position: absolute;
    width: 190px;
    height: 190px;
    background-color: white;
    z-index: -7px;
    top: -35px;
    left: 1075px; 
    transform: rotate(35deg);
    z-index: -7;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.26);
}
#arbol{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 900px;
    top: -90px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#uno19{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 540px;
    top: -20px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop19{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 550px;
    top: 10px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#hoja{
    width: 400px;
    position: absolute;
    left: -30px;
    border: none;
    top: -50px;
    transform: rotate(100deg);
}
#farol{
    width: 300px;
    position: absolute;
    transform: rotate(-10deg);
    left: 200px;
    top: 50px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.541);
}
#uno20{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 520px;
    top: 50px;
    transform: rotate(-10deg);
    position: absolute;
    width: 400px;
    height: 200px;
}
#unop20{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    left: 530px;
    top: 90px;
    transform: rotate(-10deg);
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: justify;
}
#marcos2{
    border-radius: 10px;
    position: absolute;
    width: 190px;
    height: 190px;
    background-color: white;
    z-index: -1;
    top: 250px;
    left: 700px; 
    transform: rotate(-20deg);
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.322);
}
#marcos3{
    border-radius: 10px;
    position: absolute;
    width: 190px;
    height: 190px;
    background-color: white;
    z-index: 4;
    top: 270px;
    left: 850px; 
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.322);
}
#marcos4{
    border-radius: 10px;
    position: absolute;
    width: 190px;
    height: 190px;
    background-color: white;
    z-index: -1;
    top: 250px;
    left: 1000px; 
    transform: rotate(25deg);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.322);
}
#rec3{
    border: none;
    position: absolute;
    width: 170px;
    top: 260px;
    left: 1010px;
    z-index: 1;
    border-radius: none;
    z-index: 1;
    transform: rotate(25deg);
}
#rec4{
    border: none;
    position: absolute;
    width: 170px;
    top: 280px;
    left: 860px;
    z-index: 5;
    border-radius: none;
}
#rec5{
    border: none;
    position: absolute;
    width: 170px;
    top: 260px;
    left: 710px;
    z-index: 1;
    border-radius: none;
    z-index: 1;
    transform: rotate(-20deg);
}
/* Ajustamos la animación para aparecer suavemente */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    50% {
        opacity: 0.5; /* A mitad de camino, la imagen se vuelve parcialmente visible */
        transform: translateY(50px); /* La imagen ya comienza a acercarse a su posición final */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ajustamos la animación para desaparecer suavemente */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5; /* A mitad de camino, la imagen se vuelve parcialmente invisible */
        transform: translateY(50px); /* La imagen comienza a alejarse */
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

/* Aplicamos la clase .visible para animación al aparecer */
.section.visible {
    animation: fadeIn 2s forwards;
}

/* Aplicamos la clase .hidden para animación al desaparecer */
.section.hidden {
    animation: fadeOut 2s ease-out;
}
